.git
.github
.gitlab
.gitlab-ci.yml

results
results/*
cache
cache/*
.ezkl
.ezkl/*
srs_work
srs_work/*

__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd

.pytest_cache
.mypy_cache
.ruff_cache

target
**/target

*.log
*.tmp
*.swp
.DS_Store

output.txt
